/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

body {
    font-family: font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
    font-weight: light;
    background: rgb(100,100,100);
    color:black;
    width: 100%;
    }
#content {
    background:rgb(200,200,200);
    margin: 0 auto;
    border-radius:4px;
    border:1px solid black;
    padding:5px;
    }
#heading {
    color:black;
    padding:2px;
    text-align:center;
    font-size:16pt;
    }
#utilBar {
    background: rgb(150,150,150);
    padding:2px;
    width:100%;
    }
#feedback {
    display:inline;
    color:white;
    }
.buttons {
    color:white;
    float:right;
    }
#prompt, textarea {
    font-family: monospace;
    font-size: 11pt;
    line-height: 22pt;
    }
.keyboard {
    display: none;
    z-index: 99;
    float: right;
    margin: 10px;
}
#prompt-wrap.showKeyboard {
    min-height: 300px;
}
#prompt-wrap.showKeyboard .keyboard {
    display: block;
}
.matchCorrect {
    background-color: rgba(86, 180, 255, 0.3);
    }
.matchIncorrect {
    background-color: rgba(213, 94, 0, 0.3);
    }
#prompt-wrap {
    padding-left: 2px;
    background: rgba(0,0,0,0.1);
    padding-left: 10px;
    }
#prompt {
    float: left;
}
textarea {
    max-width:100%;
    width:100%;
    background:rgba(0,0,0,0);
    padding-left: 10px;
    }
#response {
    background:white;
    }
.areaLabel {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    }
    }